.maincontent {
    border: 2px #eee solid;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 15px;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.panel-heading h3 {
    margin: 2px 0px;
}

.center-text {
    text-align: center;
}

.album-tile {
    margin: 10px;
}

.thumbnail img.uploadimg {
    height: 175px;
    width: auto;
}

.album-tile img, .album-tile a img {
    width: auto;
    height: 150px;
}

.leftarrow, .rightarrow {
    height: 100%;
    width: 50px;
    background: none;
    position: absolute;
    z-index: 10;
    text-align: center;
}
.leftarrow {
    margin-right: -50px;
}
.rightarrow {
    left: 100%;
    margin-left: -50px;
}
.leftarrow:hover, .rightarrow:hover {
    background-color: rgba(0,0,0,0.3);
}
.leftarrow a, .rightarrow a {
    position: relative;
    color: white;
    text-decoration: none;
    line-height: 50;
    height: 100%;
    vertical-align: middle;
    display: none;
}
.leftarrow:hover a, .rightarrow:hover a {
    display: block;
}

.bigimg {
    position: relative;
    z-index: 1;
}
.imgcontainer {
    height: 100%;
    position: relative;
}